<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   동작테스트
   <% for(var i=0; i<data.length; i++){%>
        <p>제목 <%= data[i].title %></p>
        <p>이메일 <%= data[i].message %></p>
    <% }%>
</table>
   
</body>
</html>