<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="static/js/jquery.min.js"></script>
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <script src="static/js/bootstrap.js"></script>
</head>
<body>
    <h1>Main Page 부트스트랩 로컬 적용</h1>
    <p></p>
    <FORM>
        <div class="col-md-6 mb-3">
        ID : <INPUT TYPE="Text" value="user" class="form-control" /> <br>
        PWD : <INPUT TYPE="password" value="user"  class="form-control"/> <br>
        </div>
    </FORM>
</body>
</html>